
<form action="/coaching/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="query" placeholder="What kind of question?">
  <input type="submit">
</form>

